@{
    ViewData["Title"] = "Packages";
}

<h1>Tour Packages</h1>

<h3>Mysore One Day Tour</h3>
<p>
    Duration: 1 Day<br />
    <b>Starting from ₹3,500</b><br />
    <small>Prices may vary during festivals & peak season</small>
</p>

<a href="https://wa.me/919901140077">Book on WhatsApp</a>
